In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data 1', 'data 2'])
df

       data 1    data 2
a 1  0.206280  0.873554
  2  0.851954  0.601263
b 1  0.028170  0.856806
  2  0.182995  0.239289

Ví dụ 4.6.2.2

In [4]:
# Import the MultiIndex class
from pandas import MultiIndex

idx_arr = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]]
data = np.random.rand(4, 3)  # Tạo mảng dữ liệu ngẫu nhiên

# Tạo đối tượng MultiIndex từ mảng idx_arr
multi_index = MultiIndex.from_arrays(idx_arr, names=['Data 1', 'Data 2'])

# Tạo DataFrame df
df = pd.DataFrame(data, index=multi_index, columns=['Value 1', 'Value 2', 'Value 3'])
df

                Value 1   Value 2   Value 3
Data 1 Data 2
a      1       0.429399  0.599852  0.016411
       2       0.826875  0.490371  0.447475
b      1       0.790388  0.452207  0.966947
       2       0.011918  0.526175  0.405069

Ví dụ 4.6.2.3

In [5]:
#Tạo một ds các tuples
idx_tuples = [('a', 1), ('a', 2), ('b', 1), ('b', 2)]
data = np.random.randn(4, 3) #Tạo mảng DL ngẫu nhiên
df = pd.DataFrame(data, index = idx_tuples, columns = ['Value 1', 'Value 2', 'Value 3'])
df

         Value 1   Value 2   Value 3
(a, 1) -1.064921 -0.617761 -0.815583
(a, 2)  0.619300 -1.244988  0.320356
(b, 1) -0.232231 -0.036210 -2.989646
(b, 2) -1.474641  0.367411 -0.842631

Ví dụ 4.6.2.4

In [9]:
import pandas as pd
import numpy as np

arr1 = ['a', 'b']
arr2 = [1, 2, 3]

multi_idx = pd.MultiIndex.from_product([arr1, arr2], names=['key 1', 'key 2'])

df = pd.DataFrame(np.random.randn(6, 3), index=multi_idx, columns=['Value 1', 'Value 2', 'Value 3'])

df

              Value 1   Value 2   Value 3
key 1 key 2
a     1      0.980665 -0.494055  0.413635
      2      0.943605 -0.490313  0.210779
      3      1.058758 -0.721527  0.164547
b     1      1.082746  0.480929  1.002429
      2     -0.390682  1.231088 -0.124454
      3      1.261487  0.060401  2.130003

Ví dụ 4.6.2.5

In [10]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([[2020, 2021, 2022], [1, 2, 3]],
                                   names=['Năm', 'Lần thi'])

columns = pd.MultiIndex.from_product([['Bình', 'Lan', 'Vân'],
                                      ['Toán', 'Lý', 'Hóa']],
                                     names=['Học sinh', 'Môn học'])

# Tạo dữ liệu mẫu, là mảng kích thước 9 x 9 với các giá trị ngẫu nhiên từ 5-10
data = np.random.randint(5, 10, (9, 9))
score = pd.DataFrame(data, index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          5  6   7    6  8   9    9  5   5
     2          5  9   5    6  9   7    8  9   6
     3          8  9   8    9  8   7    9  6   8
2021 1          7  7   6    6  5   9    6  9   6
     2          8  7   5    8  9   6    9  7   6
     3          7  9   7    7  7   7    9  8   5
2022 1          9  6   7    8  7   6    8  8   5
     2          6  8   9    5  9   6    5  7   9
     3          9  9   9    9  9   6    6  8   9

Ví dụ 4.6.2.6

In [11]:
score['Bình']

Môn học       Toán  Lý  Hóa
Năm  Lần thi
2020 1           5   6    7
     2           5   9    5
     3           8   9    8
2021 1           7   7    6
     2           8   7    5
     3           7   9    7
2022 1           9   6    7
     2           6   8    9
     3           9   9    9