Ví dụ 4.6.1.1

In [3]:
import pandas as pd 

#Tuples đại diện cho tỉnh thành phố - Năm tương ứng 
index_tuples=[('Hà Nội',2015),('Hà Nội',2020), 
 ('Nam Định',2015),('Nam Định',2020), 
 ('Thanh Hóa',2015),('Thanh Hóa',2020), 
 ('Đà Nẵng',2015),('Đà Nẵng',2020), 
 ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)] 

data=[ 7216000, 8246540, 
       1850600, 1780330, 
       3514200, 3664940, 
       1028800, 1169480, 
       8146300, 9227600]

In [4]:
vn_pop = pd.Series(data, index=index_tuples)
print("Series sd index bang tuple")
vn_pop

Series sd index bang tuple

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

Ví dụ 4.6.1.2

In [6]:
vn_pop[('Hà Nội',2015):('Nam Định',2015)]

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

In [7]:
vn_pop.index

Index([     ('Hà Nội', 2015),      ('Hà Nội', 2020),    ('Nam Định', 2015),
          ('Nam Định', 2020),   ('Thanh Hóa', 2015),   ('Thanh Hóa', 2020),
           ('Đà Nẵng', 2015),     ('Đà Nẵng', 2020), ('Hồ Chí Minh', 2015),
       ('Hồ Chí Minh', 2020)],
      dtype='object')

Cách 1: Sử dụng vòng lặp

In [8]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

Cách 2. Thực hiện chỉ mục phân cấp (Hierarchical Indexing) thông qua đối tượng đa chỉ mục/MultiIndex object.
Tạo MultiIndex từ tuple.
Ví dụ 4.6.1.4.

In [10]:
multi_idx=pd.MultiIndex.from_tuples(index_tuples, names=['Tỉnh/TP','Năm']) 
multi_idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

Ví dụ 4.6.1.5

In [11]:
vn_pop_mul = vn_pop.reindex(multi_idx) 
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

series: 1 chieeuf
dataFrame 2 chiue

In [12]:
type(vn_pop_mul)

pandas.core.series.Series

Ví dụ 4.6.1.6

In [14]:
vn_pop_mul[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [18]:
vn_pop_df = vn_pop_mul.unstack('Năm')
print("DataFrame dạng rộng: ")
display(vn_pop_df)

DataFrame dạng rộng:

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [20]:
type(vn_pop_df)

pandas.core.frame.DataFrame

In [19]:

print("DataFrame dạng dài: ")
display(vn_pop_df.stack())

DataFrame dạng dài:

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [22]:
type(vn_pop_df.stack())

pandas.core.series.Series

Ví dụ 4.6.1.8

In [23]:
vn_pop_df.stack()

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [24]:

co_viec_2015 = [3752320, 1080750, 1512340, 512340, 4920000]
co_viec_2020 = [4042454, 1011049, 1600000, 600000, 5200000]

vn_pop_df_expanded = pd.DataFrame({
    ('Tổng dân số', 2015): vn_pop_df[2015],
    ('Tổng dân số', 2020): vn_pop_df[2020],
    ('Có việc', 2015): co_viec_2015,
    ('Có việc', 2020): co_viec_2020
}, index=vn_pop_df.index)

vn_pop_df_expanded.columns = pd.MultiIndex.from_tuples(vn_pop_df_expanded.columns, names=['Chi tiêu', 'Năm'])

vn_pop_df_expanded

Chi tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Tỉnh/TP
Hà Nội          7216000  8246540  3752320  4042454
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480  4920000  5200000

In [28]:
f_co_viec = vn_pop_df_expanded['Có việc']/vn_pop_df_expanded['Tổng dân số']
f_co_viec

Năm              2015      2020
Tỉnh/TP
Hà Nội       0.520000  0.490200
Hồ Chí Minh  0.132668  0.109568
Nam Định     0.817216  0.898710
Thanh Hóa    0.145791  0.163713
Đà Nẵng      4.782271  4.446421

In [30]:
f_co_viec = vn_pop_df_expanded['Có việc']/vn_pop_df_expanded['Tổng dân số']
f_co_viec.unstack()

Năm   Tỉnh/TP
2015  Hà Nội         0.520000
      Hồ Chí Minh    0.132668
      Nam Định       0.817216
      Thanh Hóa      0.145791
      Đà Nẵng        4.782271
2020  Hà Nội         0.490200
      Hồ Chí Minh    0.109568
      Nam Định       0.898710
      Thanh Hóa      0.163713
      Đà Nẵng        4.446421
dtype: float64

In [15]:
print(type(f_co_viec))

<class 'pandas.core.series.Series'>