In [3]:
import pandas as pd

data = {
    'Tinh/TP': ['Ha Noi', 'Da Nang', 'TP Ho Chi Minh', 'Nam Dinh'],
    'Dan so': [8330830, 1191381, 9411805, 1771000],
    'Dien tich': [3358.9, 1284.9, 2060.0, 1668.0]
}

df = pd.DataFrame(data)
df

          Tinh/TP   Dan so  Dien tich
0          Ha Noi  8330830     3358.9
1         Da Nang  1191381     1284.9
2  TP Ho Chi Minh  9411805     2060.0
3        Nam Dinh  1771000     1668.0