In [8]:
import pandas as pd 

index_tuples=[('Hà Nội',2015),('Hà Nội',2020), 
 ('Nam Định',2015),('Nam Định',2020), 
 ('Thanh Hóa',2015),('Thanh Hóa',2020), 
 ('Đà Nẵng',2015),('Đà Nẵng',2020), 
 ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)] 

data=[ 7216000, 8246540, 
       1850600, 1780330, 
       3514200, 3664940, 
       1028800, 1169480, 
       8146300, 9227600] 

vn_pop = pd.Series(data, index=index_tuples) 
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [9]:
multi_idx=pd.MultiIndex.from_tuples(index_tuples, names=['Tỉnh/TP','Năm']) 
vn_pop_mul = vn_pop.reindex(multi_idx) 
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [10]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([[2020, 2021, 2022], [1, 2, 3]],
                                   names=['Năm', 'Lần thi'])

columns = pd.MultiIndex.from_product([['Bình', 'Lan', 'Vân'],
                                      ['Toán', 'Lý', 'Hóa']],
                                     names=['Học sinh', 'Môn học'])

# Tạo dữ liệu mẫu, là mảng kích thước 9 x 9 với các giá trị ngẫu nhiên từ 5-10
data = np.random.randint(5, 10, (9, 9))
score = pd.DataFrame(data, index=index, columns=columns)
print(score)


#Tạo dữ liệu mẫu, là mảng kích thước 9 x 9 với các giá trị ngẫu nhiên từ 5-10
data = np.random.randint(5, 10, (9,9))
score = pd.DataFrame(data, index = index, columns = columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  7   5    8  9   8    9  9   6
     2          8  6   6    9  6   8    5  9   8
     3          7  7   5    6  6   7    6  6   7
2021 1          7  9   6    9  7   7    9  8   8
     2          9  7   7    7  9   9    6  8   7
     3          8  8   8    5  5   9    6  5   6
2022 1          5  9   5    8  6   8    7  9   5
     2          7  6   6    7  7   9    9  8   6
     3          6  6   6    8  7   6    5  8   6

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  9   6    7  7   5    9  6   7
     2          7  9   9    6  8   7    6  6   6
     3          9  7   5    5  8   9    6  9   6
2021 1          9  9   9    9  5   9    7  8   8
     2          5  5   8    5  7   7    7  6   5
     3          6  7   9    5  9   7    8  6   6
2022 1          5  7   9    6  7   6    7  8   9
     2          8  5   9    9  5   8    9  7   8
     3          6  5   6    7  5   8    8  8   9

Ví dụ 4.6.3.5

In [11]:
print("Điểm môn Toán của Lan:\n", score['Lan', 'Toán'],'\n') 
print("Điểm môn Lý của Bình và Hóa của Vân:\n", 
 score.loc[:,[('Bình','Lý'),('Vân','Hóa')]],'\n') 
print("Điểm môn Lý của Vân năm 2021:\n",score.loc[2021,('Vân','Lý')]) 
print("\nĐiểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:\n", 
 score.loc[[2020,2021],[('Bình','Toán'),('Lan','Hóa')]],'\n') 
print("Các lần thi học phần Lý mà Lan đạt điểm trên 7:\n", 
 score['Lan','Lý'][score['Lan','Lý']>7])

Điểm môn Toán của Lan:
 Năm   Lần thi
2020  1          7
      2          6
      3          5
2021  1          9
      2          5
      3          5
2022  1          6
      2          9
      3          7
Name: (Lan, Toán), dtype: int32

Điểm môn Lý của Bình và Hóa của Vân:
 Học sinh     Bình Vân
Môn học        Lý Hóa
Năm  Lần thi
2020 1          9   7
     2          9   6
     3          7   6
2021 1          9   8
     2          5   5
     3          7   6
2022 1          7   9
     2          5   8
     3          5   9

Điểm môn Lý của Vân năm 2021:
 Lần thi
1    8
2    6
3    6
Name: (Vân, Lý), dtype: int32

Điểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:
 Học sinh     Bình Lan
Môn học      Toán Hóa
Năm  Lần thi
2020 1          8   5
     2          7   7
     3          9   9
2021 1          9   9
     2          5   7
     3          6   7

Các lần thi học phần Lý mà Lan đạt điểm trên 7:
 Năm   Lần thi
2020  2          8
      3          8
2021  3          9
Name: (Lan, Lý), dtype: int32