In [1]:
import pandas as pd 
population = pd.Series({'Hà Nội':8330830, 
                        'Quảng Ninh':1358490, 
                        'Nam Định': 1771000, 
                        'Đà Nẵng':1191381, 
                        'TP.Hồ Chí Minh':9411805}) 
area=pd.Series({'Hà Nội':3358.9, 
                 'Quảng Ninh':6177.7, 
                 'Nam Định': 1668.0, 
                 'Đà Nẵng':1284.9, 
                 'TP.Hồ Chí Minh':2061.0}) 
data = pd.DataFrame({'Dân số':population, 'Diện tích':area}) 
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [2]:
data['Dân số']

Hà Nội            8330830
Quảng Ninh        1358490
Nam Định          1771000
Đà Nẵng           1191381
TP.Hồ Chí Minh    9411805
Name: Dân số, dtype: int64

In [4]:
data['population'] = data['Dân số']   
print(data)

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

In [ ]:
data['Mật độ']=data['Dân số']/data['Diện tích'] 
 
data

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

In [ ]:
data.T #Hoán chuyển cột và hàng

,Hà Nội,Quảng Ninh,Nam Định,Đà Nẵng,TP.Hồ Chí Minh
Dân số,8.330830e+06,1.358490e+06,1.771000e+06,1.191381e+06,9.411805e+06
Diện tích,3.358900e+03,6.177700e+03,1.668000e+03,1.284900e+03,2.061000e+03
population,8.330830e+06,1.358490e+06,1.771000e+06,1.191381e+06,9.411805e+06
Mật độ,2.480226e+03,2.199022e+02,1.061751e+03,9.272169e+02,4.566621e+03

In [7]:
data[0:2]

             Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   219.902229

In [11]:
data[data['Dân số'] > 2000000]

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

In [12]:

print(data) 
#Lấy hàng đầu tiên 
print('\n Dữ liệu của Hà Nội:\n',data.loc['Hà Nội']) 
#Lấy dữ liệu 3 hàng đầu tiên 
print("\n Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.loc[:'Nam Định']) 
#Dữ liệu của 2 hàng và 2 cột đầu tiên 
print("\nDữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:\n",data.loc[:'Quảng Ninh',:'Diện tích']) 
#Lấy dữ liệu của tất cả các hàng và các cột cuối cùng 
print("\n Mật độ dân số các Tỉnh/Thành phố:\n",data.loc[:,'Mật độ'])

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

 Dữ liệu của Hà Nội:
 Dân số        8.330830e+06
Diện tích     3.358900e+03
population    8.330830e+06
Mật độ        2.480226e+03
Name: Hà Nội, dtype: float64

 Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   219.902229
Nam Định    1771000     1668.0     1771000  1061.750600

Dữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7

 Mật độ dân số các Tỉnh/Thành phố:
 Hà Nội            2480.225669
Quảng Ninh         219.902229
Nam Định          1061.750600
Đà Nẵng            927.216904
TP.Hồ Chí Minh    4566.620573
Name: Mật độ, dtype: float64

In [14]:
print(data) 
 
#Lấy hàng đầu tiên 
print("\nDữ liệu của thủ đô Hà Nội:\n",data.iloc[0]) 
 
#Lấy dữ liệu 3 hàng đầu tiên 
print("\nDữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.iloc[0:3]) 
 
#Lấy dữ liệu 2 hàng, 2 cột đầu tiên 
print("\nDữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:\n",data.iloc[:2,:2]) 
 
#Lấy dữ liệu về mật độ dân số của các tỉnh còn lại 
print("Mật độ dân số của các tỉnh/thành phố:\n",data.iloc[:,-1])

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

Dữ liệu của thủ đô Hà Nội:
 Dân số        8.330830e+06
Diện tích     3.358900e+03
population    8.330830e+06
Mật độ        2.480226e+03
Name: Hà Nội, dtype: float64

Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   219.902229
Nam Định    1771000     1668.0     1771000  1061.750600

Dữ liệu dân số và diện tích của Hà Nội và Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7
Mật độ dân số của các tỉnh/thành phố:
 Hà Nội            2480.225669
Quảng Ninh         219.902229
Nam Định          1061.750600
Đà Nẵng            927.216904
TP.Hồ Chí Minh    4566.620573
Name: Mật độ, dtype: float64

In [15]:
print(data.loc[data['Diện tích'] > 2000, ['Dân số', 'Mật độ']])

                 Dân số       Mật độ
Hà Nội          8330830  2480.225669
Quảng Ninh      1358490   219.902229
TP.Hồ Chí Minh  9411805  4566.620573

In [17]:
print("Diện tích các tỉnh/TP có mật độ < 1000 và dân số > 1 triệu:\n",data.loc[(
data['Mật độ']<1000) & (data['Dân số'] > 1000000), ['Diện tích', 'Mật độ']])

Diện tích các tỉnh/TP có mật độ < 1000 và dân số > 1 triệu:
             Diện tích      Mật độ
Quảng Ninh     6177.7  219.902229
Đà Nẵng        1284.9  927.216904

In [18]:
data.iloc[2,0] = 1880000 
data

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1880000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

In [19]:
data.loc['Quảng Ninh','Mật độ']=250 
print("Dữ liệu tỉnh Quảng Ninh được cập nhật:\n", data.loc['Quảng Ninh'])

Dữ liệu tỉnh Quảng Ninh được cập nhật:
 Dân số        1358490.0
Diện tích        6177.7
population    1358490.0
Mật độ            250.0
Name: Quảng Ninh, dtype: float64

In [20]:
print("Indexing:\n", data['Diện tích']) 
#Slicing 
print("Slicing:\n",data['Hà Nội':'Nam Định'])

Indexing:
 Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
Name: Diện tích, dtype: float64
Slicing:
              Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   250.000000
Nam Định    1880000     1668.0     1771000  1061.750600

In [21]:

#Sử dụng slicing 
print(data[0:2])

             Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   250.000000

In [22]:
#masking 
print(data[data['Dân số']>1000000])

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   250.000000
Nam Định        1880000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573